allure-pytest
bumpversion
coverage
flake8
m2r
pip
pre_commit
pytest-runner
pytest>=6.0.0
recommonmark
sphinx-autodoc-typehints
sphinx-markdown-tables
sphinx-multiversion
sphinx-rtd-theme
Sphinx>=3.2.1
tox
twine
watchdog
wheel
